<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <p>{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %}
    <form action="{{ request.path }}" method="post">
        <label>Name: <input type="text" name="name"></label><br>
        <label>Salary: <input type="text" name="salary"></label><br>
        <label>Age: <input type="text" name="age"></label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>